extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hi this is 10th assignment web apps
  button(type="button", onclick="doReduce()", class="btn btn-primary") Press Me for the contents
  div(id="reduce") Reduce the value

  script.
      let count = 20;
      let change = -1;
      function doReduce(){
        count += change;
        change--;
        document.getElementById("reduce").innerHTML = `Count ${count} with change ${change}`;
      }