extends layout

block content
  h1= title
  - var results = roadtransport;
  div(class="container_fluid")
    each item in results
        div(class="row")       
            div(class="col-sm-2") #{item.roadtransport_type}
            div(class="col-sm-2") #{item.roadtransport_name}
            div(class="col-sm-2") #{item.roadtransport_cost}